/* Goofy borders around everything to help us see the layout. */
    * {
    border: 2px solid cornflowerblue;
    margin: 5px;
    padding: 3px;
    }

    /* body takes up full viewport and extends all the way to the edges. */
    html, body {
    margin: 0;
    padding: 0;
    border: none;
    }

    body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    }


.footerBar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container {
    display: flex;
    flex-grow: 3;
}

.logo {
    font-size: 40px;
    flex-grow:2;
}

.mainText {
    flex-grow: 2;
}

.sidebar {
    flex-grow: 1;
}
